flask
flask-login
flask-mongoengine
oauthlib
dnspython
requests
pyopenssl
google-api-python-client
Flask-WTF
pytest
coverage
gunicorn
docxtpl
openpyxl
template_pptx_jinja
slackclient
flask-admin
email_validator
