    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <img src="{{url_for('static',filename='img/logoblanc.png')}}" height="45">
        </div>
        <div class="sidebar-brand-text mx-3">IdéSYS ERP</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- A FAIRE -->
      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Nav Item - Gestion asso -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Gestion associative</span></a>
      </li>

      <!-- A FAIRE -->
      <!-- Nav Item - Suivi d'étude dropdown -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-cog"></i>
          <span>Suivi d'étude</span></a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner animated--grow-in rounded">
            <a class="collapse-item" href="{{ url_for('studies_bp.dashboard', tab='all') }}"">Voir les études</a>
            <a class="collapse-item" href="{{ url_for('studies_bp.create_study') }}">Créer une étude</a>
            <a class="collapse-item" href="/">Chiffre d'affaire</a>
          </div>
        </div>
      </li>


      <!-- A FAIRE -->
      <!-- Nav Item - Prospection -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-comments"></i>
          <span>Prospection</span></a>
      </li>

      <!-- A FAIRE -->
      <!-- Nav Item - Pilotage -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Pilotage de la J.E.</span></a>
      </li>

      <!-- A FAIRE -->
      <!-- Nav Item - Config -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Configuration</span></a>
      </li>

      <!-- A FAIRE -->
      <!-- Nav Item - Admin -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-folder-open "></i>
          <span>Administration</span></a>
      </li>

      <!-- Bouton pour faire apparaitre -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
