{% extends 'pages/base.html' %}

{% block title %}{{ _type }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
<!-- Start Container -->
  <h2>Suivi d'Étude</h2>
  <p>Ajouter une étude</p>

  <hr>

  {% from "_formhelpers.html" import render_field %}
  <form method="post" class="submitButton">
    <dl>
        {% for field in formSubmit %}
        {{ render_field(field, class='form-control') }}
        {% endfor %}
    </dl>
    <input type="submit" name="btn" value="Valider" class='btn btn-warning btn-block' />
  </form>

  <hr>

  <form method="post" class="etude">
  <div class="row">
    <!-- Start Row -->

    <div class="col">
      <!-- Start Col -->
      <h5> Informations sur l'étude</h5>
        <dl>
          {% for field in formCreateStudy %}
          {{ render_field(field, class='form-control') }}
          {% endfor %}
        </dl>
        <!-- End Col -->
    </div>

    <div class="col">
      <!-- Start Col -->
      <h5> Choix du prospect </h5>
      <dl>
        {% for field in formProspectChoice %}
        {{ render_field(field, class='form-control') }}
        {% endfor %}
      </dl>

      <h5> Labels </h5>
      <dl>
          {% for field in formLabel %}
          {{ render_field(field, class='form-control') }}
          {% endfor %}
      </dl>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

  <hr>

  <p><input type="submit" name ="btn" value="Enregistrer" class='btn btn btn-success btn-block' /></p>
  </form>

  <p><a href="{{ url_for('index') }}"><input type="submit" name="btn" value="Annuler" class='btn btn btn-danger btn-block' /></a></p>
  <!-- End Container -->
</div>
{% endblock %}
