{% extends 'pages/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <h2>Étude - Tableau de bord</h2>
    <hr>
    <!-- Bonton d'ajout d'étude-->
    <a href="#" class="btn btn-primary mb-2">
      <span class="icon text-white-50">
        <i class="fas fa-fw fa-plus-circle"></i>
      </span>
      <span class="text">Ajouter une étude</span>
    </a>

  </div>


  <div class="col-6">
    <!-- Barre de recherche -->
    <span>Rechercher une étude</span>
    <form class="d-none d-sm-inline-block form-inline ml-5  navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- Boutons recherche par labels-->
    <!-- for i in label.catégories-->
    <ul class="list-inline mt-4 ">
      <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </ul>
  </div>
</div>



<hr>

<!-- Onglets -->
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('studies_bp.dashboard', tab='all') }}">Toutes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('studies_bp.dashboard', tab='progressing') }}">En cours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('studies_bp.dashboard', tab='finished') }}">Terminées</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('studies_bp.dashboard', tab='failed') }}">Avortés</a>
      </li>
    </ul>
  </div>

  <!-- Affichage des études -->
  <div class="card-body">
    {% for i in etude %}
    {% if (tab == i.state) or (tab == 'all') %}
    <div class="row card text-left shadow mb-2 ">
      <div class="card-body pl-2 pt-2 col-6">
        <h6 class="font-weight-bold text-primary pl-2 pt-2">{{i.number}} : {{i.name}}</h6>
        <span>{{i.description}} : {{i.state}}</span>
      </div>
      <ul class="list-inline pl-2 pt-2">
        {% for j in i.listLabels %}
        <li class="list-inline-item">{{j}} </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}