{% extends 'pages/base.html' %}

{% block title %}{{ _type }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  <p><a href="{{ url_for('studies_bp.dashboard', tab='all') }}" class="text-decoration-none text-primary"><i class="fas fa-chevron-left"></i> Retour</a></p>
  <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-clipboard-list"></i> Suivi d'Étude</h1>
  <br>

  <!-- Studies nav -->
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link text-secondary" href="{{ url_for('studies_bp.summary_study', num_study=study.number, vision='planning') }}">Récapitulatif</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Phases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('studies_bp.missions', num_study=study.number) }}">Missions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Documents</a>
    </li>
  </ul>
  <!-- End studies nav -->
  <br>

  <p><button type="button" class="btn btn-primary w-25" data-toggle="modal" data-target="#modify">Modifier les missions</button></p>

  {% set inc = 0 %}
  {% for i in study.list_missions %}
  <div class="card border-left-secondary shadow">
    <div class="card-header text-center">
      {{i.name}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-9"><p class="col text-justify overflow-auto"> {{i.description}} </div>
        <div class="col">
          <h5><span class="text-md"><span class="badge badge-info w-100">{{i.id_intervener.name}}</span></h5>
          <h5>
            <div class="row">
              <div class="col"><span class="badge badge-info w-100">{{list_dates[inc][0]}}</span></div>

              <div class="col"><span class="badge badge-info w-100">{{list_dates[inc][1]}}</span></div>
            </div>
          </h5>
          <h5><span class="badge badge-info w-100">{{list_dates[inc][2]}} semaines</span></h5>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% set inc = inc + 1 %}
  {% endfor %}

  <div class="text-center">
    <p><button type="button" class="btn btn-success w-25" data-toggle="modal" data-target="#add">Ajouter une mission</button></p>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Start Container -->

          {% from "_formhelpers.html" import render_field %}
          <form method="post">
            <div class="row">
              <!-- Start Row  -->
              <div class="col">
                <!-- Start Col -->
                <dl>
                  {% for field in form_create_mission %}
                    {{ render_field(field, class='form-control') }}
                  {% endfor %}

                  <hr>

                  <h5>Phases</h5>
                  {% for my_phase in study.list_phases %}
                  <p class="font-weight-bold">{{my_phase.name}}</p>
                  <div class="row">
                    <div class="col">
                      <input type="number" name="{{my_phase.name}}" value="{{my_phase}}" max="{{my_phase.nb_jeh}}" placeholder="Nombre de JEH" class="form-control input-sm" required></input>
                    </div>
                    <span> / </span>
                    <div class="col">
                      <input type="number" placeholder="{{my_phase.nb_jeh}} JEH" readonly="displayed" class="form-control input-sm text-center"></input>
                    </div>
                  </div>
                  <br>
                  {% endfor %}
                </dl>
                <!--End Col -->
              </div>
              <!-- End Row -->
            </div>
              <p><input type="submit" name="btn" value="Enregistrer" class='btn btn btn-success btn-block'></p>
          </form>
          <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Annuler</button>
        </div>
        <!-- End Container -->
      </div>
    </div>
  </div>

</div>
{% endblock %}
