{% extends 'pages/base.html' %}

{% block title %}Phases{% endblock %}

{% block content %}
<h2>Étude {{num_study}} - Phases</h2>

<!-- Studies nav -->
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="#">Récapitulatif</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Phases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Missions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Documents</a>
  </li>
</ul>
<!-- End studies nav -->
{% endblock %}