{% extends 'pages/base.html' %}

{% block title %}{{ _type }}{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
  <a href="{{ url_for('studies_bp.dashboard', tab='all') }}">Retour</a>
  <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-clipboard-list"></i> Suivi d'Étude</h1>
  <br>

  <!-- Studies nav -->
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#">Récapitulatif</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Phases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Missions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Documents</a>
    </li>
  </ul>
  <!-- End studies nav -->

  <br>

  <div class="row">
    <div class="col">
      <i class="fas fa-pen"></i><a href="#" class="text-primary"> Modifier les informations de l'étude</a>
    </div>
    <div class="col">
      <i class="fas fa-plus"></i><a href="#" class="text-primary"> Ajouter un contact</a>
    </div>
  </div>

  <br>

  <div class="row">

    <div class="col">
      <div class="card border-left-secondary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="font-weight-bold text-primary text-uppercase mb-1"> {{study.number}} : {{study.name}}</div>
              <div class="mb-0 text-gray-800">Suiveur d'Étude : {{study.id_follower_study.name}}</div>
              <div class="mb-0 text-gray-800">Suiveur Qualité : {{study.id_follower_quality.name}}</div>
              <div class="mb-0 text-gray-800">Description : {{study.description}}.</div>
            </div>
            <div class="col-auto col-offset-15">
              <i class="fab fa-wpforms fa-2x fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-left-secondary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="font-weight-bold text-primary text-uppercase mb-1">{{study.id_organization.name}}</div>
              <div class="mb-0 text-gray-800">{{study.id_organization.list_contacts[0].first_name}} {{study.id_organization.list_contacts[0].last_name}}</div>
              <div class="mb-0 text-gray-800">{{study.id_organization.list_contacts[0].job}}</div>
              <div class="mb-0 text-gray-800">{{study.id_organization.list_contacts[0].phone}}</div>
              <div class="mb-0 text-gray-800">{{study.id_organization.list_contacts[0].email}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-address-card fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <br>

  {% set info = get_info(study.id) %}
  <div class="row">
    <div class="col">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prix de l'étude</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{info["price"]}} €</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de JEH</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{info["tot_jeh"]}} JEH</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Durée étude</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{info["tot_weeks"]}} semaines</div>
            </div>
            <div class="col-auto">
              <i class="far fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Prochain document</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Convention d'Étude</div>
            </div>
            <div class="col-auto">
              <i class="far fa-file fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <span>Labels</span> <br>
  {% for i in study.list_labels %}
    <span class="badge badge-info">{{i.label}}</span>
  {% endfor %}
  <br>
  <br>

  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" href="#">Vision Planning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Vision budget</a>
    </li>
  </ul>
  <br>
</div>
{% endblock %}
